.App {
  text-align: center;
  width: 50vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 0.7rem;
  color: white;
}
.card-header-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(115, 81, 36);
}

/* .card-content {
  margin-top: 0;
} */
.pingimg {
  background-image: url("pingpong.jpg");
  background-size: cover;
  width: 100%;
  height: 180px;
}
.container1 {
  border: 2px solid rgb(163, 141, 141);
  padding: 25px;
  border-radius: 10px;
}
